
<div class="detailatts">
    <p class="Details">Details</p>
    <p>Name, Vorname: {{name}} {{firstName}}</p>

    <p>Telefon: {{tel}}</p>

    <p>CS GO Ranking: {{ranking}}</p>

    <p>Email: {{email}}</p>

    <p>Job: {{job}}</p>
</div>

